;=============================================================================
; zoph.ini
;=============================================================================
;
; This file tells Zoph where it can find the database and it tells
; Zoph's CLI scripts where it can find your Zoph installation.
;
; You should place this file in /etc
; If you have no write access in /etc or have another reason to not put this
; file there, you should change the INI_FILE setting in config.inc.php
; *and* the 'zoph' CLI utility.
;
; You may have multiple Zoph installations, for example a production and a 
; development version, like I have. You should define each of them in a named
; section like [production] or [development].
;
; The webinterface of Zoph will use the "php_location" item to determine which
; settings it should use. The CLI will use the first one, unless you use the
; -i / --instance commandline argument with the name of the section below.
;
; If you have only one install, like most people, you should only create one
; section. (creating no section at all will *not* work).
; With only one instance, providing the -i / --instance commandline argument
; will not be necessary.
;

[production]

db_host = localhost
db_name = zoph
db_user = zoph_rw
db_pass = pass
db_prefix = zoph_

php_location = /var/www/html/zoph

[development]
db_host = localhost
db_name = zophdev
db_user = zoph_rw
db_pass = pass
db_prefix = zoph_

php_location = /var/www/html/zophdev


