<phpunit>
  <logging>
    <log type="coverage-html" target="./output" yui="true" />
    <log type="junit" target="./output/junit.xml" />
  </logging>
  <filter>
    <blacklist>
        <directory>/usr/share</directory>
        <directory>php/UnitTests</directory>
    </blacklist>
  </filter>
  <php>
    <const name="INSTANCE" value="zophgit" />
    <const name="IMAGE_DIR" value="/data/images" />
  </php>
  <testsuites>
    <testsuite name="Zoph">
      <file>php/UnitTests/XMLdataTest.php</file>
      <file>php/UnitTests/userTest.php</file>
      <file>php/UnitTests/anonymousUserTest.php</file> 
      <file>php/UnitTests/albumTest.php</file> 
      <file>php/UnitTests/categoryTest.php</file> 
      <file>php/UnitTests/groupTest.php</file> 
      <file>php/UnitTests/groupPermissionsTest.php</file> 
      <file>php/UnitTests/personTest.php</file>
      <file>php/UnitTests/photographerTest.php</file>
      <file>php/UnitTests/photoTest.php</file> 
      <file>php/UnitTests/cliTest.php</file> 
      <file>php/UnitTests/placeTest.php</file>
      <file>php/UnitTests/ratingTest.php</file>
      <file>php/UnitTests/relationTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
